.col-md-12
  .card.mb-2
    .row.g-0
      .col-md-3
        = link_to controller: :searches, action: :detail, id: vehicle,
          start_date: params[:start_date], end_date: params[:end_date] do
          = vehicle_image(vehicle, 180)
      .col-md-6
        .card-body
          = link_to vehicle_title(vehicle), {controller: :searches, action: :detail, id: vehicle,
            start_date: params[:start_date], end_date: params[:end_date]},
            class: 'card-title h5 text-body text-underline-hover'
          .d-flex.mt-2
            = image_tag('star_on.png')
            = image_tag('star_on.png')
            = image_tag('star_on.png')
            = image_tag('star_on.png')
            = image_tag('star_on.png')
          .row.mt-3
            .col-md-6
              = fa_icon "cogs", text: vehicle.type.name_vi
            .col-md-6
              = fa_icon "bolt", text: 'Xăng'
            .col-md-6
              = fa_icon "tachometer", text: vehicle.engine.name_vi
            .col-md-6
              = fa_icon "wrench", text: '2022'
      .col-md-3
        .card-body.h-100.text-end.d-flex.flex-column.align-items-end
          h4.card-text = raw t('.price', price: number_with_precision(vehicle.price, precision: 0))
          span class='badge bg-secondary float-end' = t(".#{vehicle.status}")
          = link_to t('.detail'), {controller: :searches, action: :detail, id: vehicle,
            start_date: params[:start_date], end_date: params[:end_date]},
            class: 'btn btn-primary mt-auto w-100'
