.col-md-12
  .card.mb-2
    .row.g-0
      .col-md-3
        - if vehicle.vehicle_images.any?
          = cl_image_tag(vehicle.vehicle_images.first.image_path, height: 200, width: 200, crop: :fill, class: 'rounded-start')
        - else
          img src="https://via.placeholder.com/200" class="img-fluid "
      .col-md-5
        .card-body
          h5.card-title = vehicle_title(vehicle)
          h6 class="card-subtitle mb-2 text-muted"
          p.card-text = vehicle.description
          .row
            .col-md-6
              = fa_icon "cogs", text: vehicle.type.name_vi
            .col-md-6
              = fa_icon "bolt", text: 'Xăng'
            .col-md-6
              = fa_icon "tachometer", text: vehicle.engine.name_vi
            .col-md-6
              = fa_icon "wrench", text: '2022'
      .col-md-4
        .card-body.h-100.text-end.d-flex.flex-column.align-items-end
          h4.card-text = raw t('.price', price: number_with_precision(vehicle.price, precision: 0))
          span class='badge bg-primary float-end' = t(".#{vehicle.status}")
          = link_to t('.edit'), edit_account_vehicle_path(vehicle), class: 'btn btn-primary mt-auto'
